<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Playlist Downloader</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>
        <a style="text-decoration:none; color:rebeccapurple" href="{% url 'index' %}">YouTube Video Downloader</a> -
        <a style="text-decoration:none; color:rebeccapurple" href="{% url 'mp3down' %}">YouTube Mp3 Downloader</a> -
        <a style="text-decoration:none; color:rebeccapurple" href="{% url 'playlist' %}">YouTube Playlist Downloader</a>
    </h1>
    <div id="container">
        <label for="playlist_url"></label>
        <input type="text" id="playlist_url" class="input" placeholder="Enter playlist URL">
        <button id="fetch-playlist-info">Get Playlist Info</button>
        <div id="loading" style="display: none;">Loading...</div>
        <div id="playlist-info" style="display: none;">
            <p id="playlist-title"></p>
            <label for="download-type"></label>
            <select id="download-type">
                <option value="">Select type</option>
                <option value="video">Video</option>
                <option value="audio">Audio</option>
            </select>
            <div id="resolution-select" style="display: none;">
                <label for="resolution"></label>
                <select id="resolution"></select>
            </div>
            <button id="download-playlist">Download Playlist</button>
            <div id="downloading-message" style="display: none; text-align: center">Downloading...</div>
        </div>
        <div id="status-message" style="display: none;"></div>
    </div>
    <script src="{% static 'playlist.js' %}"></script>
</body>
</html>
